body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0px 0px 0px 0px;
}

input {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    height: 34px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    transition: 0.5s;
}


input:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    height: 34px;
    width: 130px;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 10px;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

a {
    color: white;
    text-decoration: none;
}


.title {
    font-family: 'Megrim', cursive;
    font-size: 50px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.tit {
    font-size: 25px;
    font-weight: bold;
}

.searchBar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    width: 45%;
}

@media all and (max-device-width: 1366px) {
    .title {
        font-size: 50px;
    }

    .search {
        width: 260px;
        height: 30px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    button {
        margin-left: 5px;
        width: 125px;
        height: 30px;
        font-size: 16px;
        margin-bottom: 10px;

    }
}

@media all and (max-device-width: 1200px) {
    .title {
        font-size: 50px;
    }

    .search {
        width: 260px;
        height: 30px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    button {
        margin-left: 5px;
        width: 125px;
        height: 30px;
        font-size: 16px;
        margin-bottom: 10px;

    }
}

