<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/search.css">
    <link rel="stylesheet" href="/assets/css/index.css"/>
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Megrim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Groupie Tracker</title>
</head>

<body>
<main>
    <div class="header">
        <a href="/" class="logo">Groupie-Tracker</a>
        <div class="header-right">
            <a href="/" class="link">Home</a>
            <a href="/search/" class="link">Search</a>
            <a href="https://groupietrackers.herokuapp.com/api" class="link">API</a>
            <a href="https://rickandmortyapi.com/" class="link">Other API</a>
            <a href="https://github.com/x33lyS/groupie-tracker.git" class="link">About this project</a>

        </div>
    </div>
    {{$API := .}}
    <div class="wrapper"></div>
    <div class="searchBar">
        <div class="tit">
            <a href="/" class="logo">Search Groupie-Tracker</a> <br> <br>
        </div>
        <form action="/" method="POST"><br>
            <input class="search" id="sch" type="text" name="toSearch" list="list" placeholder="Search">
            <datalist id="list">
                {{range $flo, $totole := .Artists}}
                <option>{{(index $API.Artists $flo).Name}} // Artist</option>
                {{end}}
                {{range $flo, $totole := .Artists}}{{range .Members }}
                <option>{{.}} // Member</option>
                {{end}}{{end}}
                {{range $flo, $totole := .Locations.Index}}{{range .Locations }}
                <option>{{.}} // Location</option>
                {{end}}{{end}}
                {{range $flo, $totole := .Artists}}
                <option>{{(index $API.Artists $flo).FirstAlbum}} // First Album</option>
                {{end}}
                {{range $flo, $totole := .Artists}}
                <option>{{(index $API.Artists $flo).CreationDate}} // Creation Date</option>
                {{end}}
            </datalist>
            <button type="submit">Search</button>
        </form>
    </div>
</main>
<div class="footer">
    <div class="social">
        <i class="fab fa-youtube"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
    </div>
</div>
</body>

</html>