<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/search.css">
    <link rel="stylesheet" href="/assets/css/index.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Megrim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Groupie Tracker</title>
</head>

<body>
<main>
    <div class="header">
        <a href="/" class="logo">Groupie-Tracker</a>
        <div class="header-right">
            <a href="/" class="link">Home</a>
            <a href="/search/" class="link">Search</a>
            <a href="https://groupietrackers.herokuapp.com/api" class="link">API</a>
            <a href="https://rickandmortyapi.com/" class="link">Other API</a>
            <a href="https://github.com/x33lyS/groupie-tracker.git" class="link">About this project</a>

        </div>
    </div>
    {{$API := .}}
    <div class="wrapper"></div>
    <div class="searchBar">
        <div class="tit">
            <a href="/" class="logo">Search Groupie-Tracker</a> <br> <br>
        </div>
        <form action="/" method="POST"><br>
            <input class="search" id="sch" type="text" name="toSearch" list="list" placeholder="Search">
            <datalist id="list">
                {{ range .Artists}}
                <option>{{.Name}} // Artist/Band</option>
                {{ range .Members}}
                <option>{{ . }} // Member</option>
                {{end}}
                <option>{{.CreationDate}} // Creation Date</option>
                <option>{{.FirstAlbum}} // First Album Date</option>
                {{end}}
                {{ range .RelationS.Index}}
                {{range $flo, $totole := .DatesLocations}}
                <option>{{$flo}} // Concert Location</option>
                {{range $totole}}
                <option>{{.}} // Concert Date</option>
                {{end}}
                {{end}}
                {{end}}
            </datalist>
        </form>
    <div class="input-field first-wrap">
        <div class="custom-select" id="search-type">
            <select name="searchCateg">
                <option value="select">Filter</option>
                <option value="artist">Artist/Band</option>
                <option value="member">Member</option>
                <option value="album">First Album Date</option>
                <option value="creation">Creation Date</option>
                <option value="location">Concert Location</option>
                <option value="date">Concert Date</option>
            </select>
        </div>
    </div>
    <div class="input-field third-wrap">
        <button type="submit">Submit</button>
        </form>
    </div>

    </div>
</main>
</body>

</html>

